In [ ]:
import pandas as pd

In [ ]:
# You should install googlemaps library

#!pip install googlemaps

import googlemaps
gmaps_key = googlemaps.Client(key = "YOUR GOOGLE API KEY")

In [40]:
df = pd.read_csv("3new-var.csv", index_col = 0)
df.head()

           date  ...         state
268  2014-01-01  ...      Virginia
267  2014-01-03  ...      New York
266  2014-01-05  ...  Pennsylvania
265  2014-01-11  ...   Mississippi
264  2014-01-12  ...       Alabama

[5 rows x 8 columns]

In [42]:
df['LON'] = None
df['LAT'] = None

df.head()

           date                                                adr  ...   LON   LAT
268  2014-01-01  Rockingham Street and Berkley Avenue Extended ...  ...  None  None
267  2014-01-03  Farmers Boulevard and 133rd Avenue Queens New ...  ...  None  None
266  2014-01-05                    829 Parade St Erie Pennsylvania  ...  None  None
265  2014-01-11         3430 W. Capitol Street Jackson Mississippi  ...  None  None
264  2014-01-12                University Drive Huntsville Alabama  ...  None  None

[5 rows x 10 columns]

In [ ]:
for x in range(0, len(df), 1):
  geocode_result = gmaps_key.geocode(df.iat[x,1])

  try:
    lat = geocode_result[0]["geometry"]["location"]["lat"]
    lon = geocode_result[0]["geometry"]["location"]["lng"]

    df.iat[x, df.columns.get_loc("LAT")] = lat
    df.iat[x, df.columns.get_loc("LON")] = lon

  except:
    lat = None
    lon = None

In [65]:
df.head()

           date  ...      LAT
268  2014-01-01  ...  36.8308
267  2014-01-03  ...  40.6775
266  2014-01-05  ...    42.13
265  2014-01-11  ...  32.3237
264  2014-01-12  ...  34.7366

[5 rows x 10 columns]

In [ ]:
df.to_csv('/content/drive/My Drive/Project/data_historical/4coordinate.csv')