In [4]:
import math
import numpy as np
import pandas as pd
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt
import numbers as nb
import os
import random as rand
from scipy import stats

In [10]:
path = os.getcwd()

In [11]:
df = pd.read_csv("8G1.csv", index_col = False)
G0_1km = pd.read_csv(path + "/graph/G0_1km.gexf")
G0_3km = pd.read_csv(path + "/graph/G0_3km.gexf")
G0_5km = pd.read_csv(path + "/graph/G0_5km.gexf")

### shuffle time index, (ind_t)

In [6]:
### create new time index
numbers = []
for i in range(0, 1206):
    numbers.append(i)

rand.seed(99)
num = rand.sample(numbers, 1206)

new_idx = []

for i in range(len(ind_t_list)):
    for j in range(len(num)):
        if ind_t_list[i] == j:
            new_t = num[j]
            new_idx.append(new_t)
            
df['rand_ind_t'] = new_idx
df.to_csv("9rand_t_index.csv", index = False)

### create null_model

In [7]:
rand_df = pd.read_csv("9rand_t_index.csv", index_col = False)
sorted_rand_df = rand_df.sort_values(by = 'rand_ind_t', ascending = True)

In [8]:
sorted_rand_df = pd.DataFrame(sorted_rand_df)

In [9]:
sorted_rand_df = sorted_rand_df.reset_index()
sorted_rand_df = sorted_rand_df.reset_index()

In [10]:
sorted_rand_df = sorted_rand_df.rename(columns = {'level_0' : 'rand_ind'})

In [11]:
del sorted_rand_df['index']
del sorted_rand_df['ind']

In [12]:
sorted_rand_df = pd.DataFrame(sorted_rand_df)

### Null

In [13]:
G1_null = nx.DiGraph()

for n in range(0, len(df), 1):
  G1_null.add_node(n,
             rand_ind = sorted_rand_df['rand_ind'][n],
             rand_ind_t = sorted_rand_df['rand_ind_t'][n],
             p = sorted_rand_df['p'][n],
             n_killed = sorted_rand_df['log_n_killed'][n],
             n_injured = sorted_rand_df['log_n_injured'][n],
             LON = sorted_rand_df['LON'][n],
             LAT = sorted_rand_df['LAT'][n])

for i in G1_null.nodes():
  for j in G1_null.nodes():
    if 0 < G1_null.nodes[j]['rand_ind_t']-G1_null.nodes[i]['rand_ind_t'] <= 13 and G1_null.nodes[j]['rand_ind'] > G1_null.nodes[i]['rand_ind']:
      G1_null.add_edge(i,j)
    else:
      pass

In [14]:
print(nx.info(G1))

Name:
Type: DiGraph
Number of nodes: 2087
Number of edges: 48703
Average in degree:  23.3364
Average out degree:  23.3364

In [15]:
print(nx.info(G1_null))

Name:
Type: DiGraph
Number of nodes: 2087
Number of edges: 46750
Average in degree:  22.4006
Average out degree:  22.4006

In [16]:
nx.write_gexf(G1_null, "graph/G1_null.gexf")

In [17]:
G1_null_inDgr = []

for i in list(G1_null.nodes()):
    G1_null_inDegree = G1_null.in_degree(i)
    G1_null_inDgr.append(G1_null_inDegree)
    
sorted_rand_df['null_indegree'] = G1_null_inDgr

G1_null_outDgr = []

for i in list(G1_null.nodes()):
    G1_null_outDegree = G1_null.out_degree(i)
    G1_null_outDgr.append(G1_null_outDegree)
    
sorted_rand_df['null_outdegree'] = G1_null_outDgr

In [18]:
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['null_outdegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['null_outdegree']))

(-0.0276979092818315, 0.20593320259787756)
(-0.026551255122998035, 0.22534151646042633)
(0.0037859402467552306, 0.8627671806096434)
(0.038617627732534805, 0.07776618096660949)

In [32]:
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['null_outdegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['null_outdegree']))

SpearmanrResult(correlation=-0.022366038589887595, pvalue=0.3071223281718786)
SpearmanrResult(correlation=-0.008782035028521405, pvalue=0.6884472315918755)
SpearmanrResult(correlation=-0.014497766447140632, pvalue=0.5080035669553766)
SpearmanrResult(correlation=0.023589038777336112, pvalue=0.28141830387243877)

### with state

In [19]:
G1_state_null = nx.DiGraph()

for n in range(0, len(df), 1):
  G1_state_null.add_node(n,
             rand_ind = sorted_rand_df['rand_ind'][n],
             rand_ind_t = sorted_rand_df['rand_ind_t'][n],
             p = sorted_rand_df['p'][n],
             n_killed = sorted_rand_df['log_n_killed'][n],
             n_injured = sorted_rand_df['log_n_injured'][n],
             state = sorted_rand_df['state'][n],
             LON = sorted_rand_df['LON'][n],
             LAT = sorted_rand_df['LAT'][n])

for i in G1_state_null.nodes():
  for j in G1_state_null.nodes():
    if 0 < G1_state_null.nodes[j]['rand_ind_t']-G1_state_null.nodes[i]['rand_ind_t'] <= 13 and G1_state_null.nodes[j]['rand_ind'] > G1_state_null.nodes[i]['rand_ind'] and G1_state_null.nodes[i]['state'] == G1_state_null.nodes[j]['state']:
      G1_state_null.add_edge(i,j)
    else:
      pass

In [20]:
nx.write_gexf(G1_null, "graph/G1_state_null.gexf")

In [21]:
G1_state_null_inDgr = []

for i in list(G1_state_null.nodes()):
    G1_state_null_inDegree = G1_state_null.in_degree(i)
    G1_state_null_inDgr.append(G1_state_null_inDegree)
    
sorted_rand_df['state_null_indegree'] = G1_state_null_inDgr

G1_state_null_outDgr = []

for i in list(G1_state_null.nodes()):
    G1_state_null_outDegree = G1_state_null.out_degree(i)
    G1_state_null_outDgr.append(G1_state_null_outDegree)
    
sorted_rand_df['state_null_outdegree'] = G1_state_null_outDgr

In [22]:
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['state_null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['state_null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['state_null_outdegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['state_null_outdegree']))

(-0.014390928393914907, 0.5111353069775242)
(0.03176422097911564, 0.14689026180706835)
(-0.016308238169152764, 0.456499208557853)
(0.04091658734085173, 0.06163900346986322)

In [33]:
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['state_null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['state_null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['state_null_outdegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['state_null_outdegree']))

SpearmanrResult(correlation=-0.01945853645832534, pvalue=0.3742775602701227)
SpearmanrResult(correlation=0.027938105135135425, pvalue=0.2020261421336428)
SpearmanrResult(correlation=-0.011446142203816866, pvalue=0.601248524896373)
SpearmanrResult(correlation=0.01713764508941009, pvalue=0.4339211584782007)

### with distance

In [23]:
class get_dist():
   @staticmethod
   def degree2radius(degree):
        return degree * (math.pi/180)
   @staticmethod 
   def distance(x1, y1, x2, y2, round_decimal_digits = 5): ## harversion
    if x1 is None or y1 is None or x2 is None or y2 is None:
        return None
    assert isinstance(x1, nb.Number) and -180 <= x1 and x1 <= 180
    assert isinstance(y1, nb.Number) and -90 <= y1 and y1 <= 90
    assert isinstance(x2, nb.Number) and -180 <= x2 and x2 <= 180
    assert isinstance(y2, nb.Number) and -90 <= y2 and y2 <= 90
    
    R = 6371
    dLon = get_dist.degree2radius(x2-x1)
    dLat = get_dist.degree2radius(y2-y1)
    
    a = math.sin(dLat/2) * math.sin(dLat/2)\
    + (math.cos(get_dist.degree2radius(y1))\
       * math.cos(get_dist.degree2radius(y2))\
       *math.sin(dLon/2) * math.sin(dLon/2))
    b = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return round(R*b, round_decimal_digits)

In [24]:
G1_prox_null = nx.DiGraph()

for n in range(0, len(df), 1):
    G1_prox_null.add_node(n,
             rand_ind = sorted_rand_df['rand_ind'][n],
             rand_ind_t = sorted_rand_df['rand_ind_t'][n],
             p = sorted_rand_df['p'][n],
             n_killed = sorted_rand_df['log_n_killed'][n],
             n_injured = sorted_rand_df['log_n_injured'][n],
             LON = sorted_rand_df['LON'][n],
             LAT = sorted_rand_df['LAT'][n])

In [25]:
for i in G1_prox_null.nodes():
  for j in G1_prox_null.nodes():
    if G1_prox_null.nodes[j]['rand_ind'] > G1_prox_null.nodes[i]['rand_ind'] and 0 <= G1_prox_null.nodes[j]['rand_ind_t']-G1_prox_null.nodes[i]['rand_ind_t'] <= 13 and get_dist.distance(G1_prox_null.nodes[i]['LON'], G1_prox_null.nodes[i]['LAT'], G1_prox_null.nodes[j]['LON'], G1_prox_null.nodes[j]['LAT']) < 400:
      G1_prox_null.add_edge(i,j)
    else:
      pass

In [26]:
nx.write_gexf(G1_prox_null, "graph/G1_prox_null.gexf")

In [27]:
G1_prox_null_inDgr = []

for i in list(G1_prox_null.nodes()):
    G1_prox_null_inDegree = G1_prox_null.in_degree(i)
    G1_prox_null_inDgr.append(G1_prox_null_inDegree)
    
sorted_rand_df['prox_null_indegree'] = G1_prox_null_inDgr

G1_prox_null_outDgr = []

for i in list(G1_prox_null.nodes()):
    G1_prox_null_outDegree = G1_prox_null.out_degree(i)
    G1_prox_null_outDgr.append(G1_prox_null_outDegree)
    
sorted_rand_df['prox_null_outdegree'] = G1_prox_null_outDgr

In [28]:
sorted_rand_df

,rand_ind,ind_t,date,adr,p,n_killed,n_injured,city,state,LON,...,state_outdegree,prox_indegree,prox_outdegree,rand_ind_t,null_indegree,null_outdegree,state_null_indegree,state_null_outdegree,prox_null_indegree,prox_null_outdegree
0,0,564,2016-12-05,1532 Stagecoach Lane Albuquerque New Mexico,1.334551,4,1,Albuquerque,New Mexico,-106.490998,...,0,0,0,0,0,25,0,0,0,0
1,1,890,2018-07-28,8801 S Vermont Ave Los Angeles California,1.251860,2,4,Los Angeles,California,-118.292011,...,3,0,2,1,1,25,0,5,0,3
2,2,890,2018-07-28,3400 S Claiborne Ave New Orleans Louisiana,1.594239,3,7,New Orleans,Louisiana,-90.097796,...,0,1,0,1,1,25,0,0,0,1
3,3,170,2014-12-26,2500 block of Summit Avenue East St. Louis Ill...,0.901091,1,3,East St. Louis,Illinois,-90.125416,...,1,3,1,2,3,25,0,3,0,4
4,4,450,2016-06-13,Avenue D and E. 57th Brooklyn New York,0.537528,0,5,Brooklyn,New York,-73.922619,...,0,6,5,3,4,23,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2082,2082,22,2014-03-01,Hamilton Avenue Pittsburgh Pennsylvania,0.968034,1,4,Pittsburgh,Pennsylvania,-79.900730,...,0,1,1,1202,22,3,1,0,3,2
2083,2083,22,2014-03-01,7800 Gratiot Av. Detroit Michigan,0.482831,0,4,Detroit,Michigan,-83.014778,...,0,5,5,1202,22,3,3,0,4,0
2084,2084,419,2016-04-21,4800 block of Frankford Avenue Baltimore Maryland,0.482831,0,4,Baltimore,Maryland,-76.545052,...,2,1,4,1203,23,2,1,0,4,0
2085,2085,1081,2019-06-27,600 block of Parkway Dr Atlanta Georgia,0.623832,0,7,Atlanta,Georgia,-84.373070,...,1,3,1,1204,21,1,2,0,2,0
2086,2086,76,2014-06-30,Scottsdale Circle Lexington Kentucky,0.901091,1,3,Lexington,Kentucky,-84.478053,...,1,1,2,1205,21,0,0,0,0,0

In [30]:
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['prox_null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['prox_null_indegree']))
print(stats.pearsonr(sorted_rand_df['log_n_killed'], sorted_rand_df['prox_null_outdegree']))
print(stats.pearsonr(sorted_rand_df['log_n_injured'], sorted_rand_df['prox_null_outdegree']))

(-0.1040768162272635, 1.8912608167059439e-06)
(0.03509555850533351, 0.10897263527021582)
(-0.08872503360399206, 4.931165454787248e-05)
(0.04804143984777072, 0.028187792942165925)

In [34]:
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['prox_null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['prox_null_indegree']))
print(stats.spearmanr(sorted_rand_df['log_n_killed'], sorted_rand_df['prox_null_outdegree']))
print(stats.spearmanr(sorted_rand_df['log_n_injured'], sorted_rand_df['prox_null_outdegree']))

SpearmanrResult(correlation=-0.09766204967728337, pvalue=7.837402729552628e-06)
SpearmanrResult(correlation=0.03283270196014214, pvalue=0.13376347384537787)
SpearmanrResult(correlation=-0.08633985150592444, pvalue=7.83679943293995e-05)
SpearmanrResult(correlation=0.03514165251767134, pvalue=0.10850823709400827)

In [31]:
sorted_rand_df.to_csv("9with_null_models.csv", index = False)