# Merge
In this notebook, I merged two different datasets: MotherJones and GunViolenceArchive.

Merging data is processed in terms of GunViolenceArchive dataset.

In [2]:
import pandas as pd

In [3]:
MJ = pd.read_csv("MJ/MotherJones.csv")
df = pd.read_csv("4coordinate.csv", index_col=0)

In [4]:
df.date = pd.to_datetime(df.date)
df = df.set_index('date')

MJ.date = pd.to_datetime(MJ.date)
MJ = MJ.set_index('date')

In [5]:
df['location'] = df['city'] + ", " + df['state']
df.head()

,adr,p,n_killed,n_injured,street,city,state,LON,LAT,location
date,,,,,,,,,,
2014-01-01,Rockingham Street and Berkley Avenue Extended ...,2.855649,2,2,Rockingham Street and Berkley Avenue Extended,Norfolk,Virginia,-76.278935,36.830789,"Norfolk, Virginia"
2014-01-03,Farmers Boulevard and 133rd Avenue Queens New ...,2.390389,1,3,Farmers Boulevard and 133rd Avenue,Queens,New York,-73.762898,40.677500,"Queens, New York"
2014-01-05,829 Parade St Erie Pennsylvania,2.390389,1,3,829 Parade St,Erie,Pennsylvania,-80.074524,42.130038,"Erie, Pennsylvania"
2014-01-11,3430 W. Capitol Street Jackson Mississippi,1.515717,0,4,3430 W. Capitol Street,Jackson,Mississippi,-90.228321,32.323689,"Jackson, Mississippi"
2014-01-12,University Drive Huntsville Alabama,1.620657,0,5,University Drive,Huntsville,Alabama,-86.650390,34.736562,"Huntsville, Alabama"

In [6]:
MJ.head()

,case,location,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,mental_health_details,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
date,,,,,,,,,,,,,,,,,,,,,
2020-02-26,Molson Coors shooting,"Milwaukee, Wisconsin","Anthony Ferrill, 51, an employee armed with tw...",5,0,5,Workplace,51,-,-,...,-,Black,M,https://www.jsonline.com/story/news/local/2020...,-,-,43.044511,-87.962537,Mass,2020
2019-12-10,Jersey City kosher market shooting,"Jersey City, New Jersey","David N. Anderson, 47, and Francine Graham, 50...",4,3,7,Other,-,-,-,...,-,Black,-,https://www.nytimes.com/2019/12/15/nyregion/je...,-,-,40.707363,-74.083609,Spree,2019
2019-12-06,Pensacola Naval base shooting,"Pensacola, Florida","Ahmed Mohammed al-Shamrani, A Saudi Arabian mi...",3,8,11,Military,-,-,-,...,-,-,M,https://www.washingtonpost.com/national-securi...,-,-,30.364707,-87.288567,Mass,2019
2019-08-31,Odessa-Midland shooting spree,"Odessa, Texas","Seth A. Ator, 36, fired at police officers who...",7,25,32,Other,36,yes,"""One friend of the family said the gunman had ...",...,-,White,M,https://www.washingtonpost.com/politics/5-kill...,https://www.nytimes.com/2019/09/02/us/texas-gu...,-,31.925974,-102.279600,Spree,2019
2019-08-04,Dayton entertainment district shooting,"Dayton, Ohio","Connor Betts, 24, died during the attack, foll...",9,27,36,Other,24,-,-,...,"AR-15-style rifle, with a 100-round capacity a...",White,M,https://www.nytimes.com/2019/08/04/us/dayton-o...,-,-,39.757312,-84.184947,Mass,2019

## Rule
From several trials, I decided to use location and date to merging data.   
Coordinates in GunViolenceArchive dataset retrieved from Googlemaps is not perfectly matched with MotherJones dataset. (in three decimal points, it works but it is better to use location -- city + state.)

In [8]:
new = pd.merge(df, MJ, how = 'left', on = ['location', 'date'])

In [10]:
new.head()

,adr,p,n_killed,n_injured,street,city,state,LON,LAT,location,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,Rockingham Street and Berkley Avenue Extended ...,2.855649,2,2,Rockingham Street and Berkley Avenue Extended,Norfolk,Virginia,-76.278935,36.830789,"Norfolk, Virginia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,Farmers Boulevard and 133rd Avenue Queens New ...,2.390389,1,3,Farmers Boulevard and 133rd Avenue,Queens,New York,-73.762898,40.677500,"Queens, New York",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-05,829 Parade St Erie Pennsylvania,2.390389,1,3,829 Parade St,Erie,Pennsylvania,-80.074524,42.130038,"Erie, Pennsylvania",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-11,3430 W. Capitol Street Jackson Mississippi,1.515717,0,4,3430 W. Capitol Street,Jackson,Mississippi,-90.228321,32.323689,"Jackson, Mississippi",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-12,University Drive Huntsville Alabama,1.620657,0,5,University Drive,Huntsville,Alabama,-86.650390,34.736562,"Huntsville, Alabama",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
new.columns

Index(['adr', 'p', 'n_killed', 'n_injured', 'street', 'city', 'state', 'LON',
       'LAT', 'location', 'case', 'summary', 'fatalities', 'injured',
       'total_victims', 'location.1', 'age_of_shooter',
       'prior_signs_mental_health_issues', 'mental_health_details',
       'weapons_obtained_legally', 'where_obtained', 'weapon_type',
       'weapon_details', 'race', 'gender', 'sources', 'mental_health_sources',
       'sources_additional_age', 'latitude', 'longitude', 'type', 'year'],
      dtype='object')

## Remove variables  
Removing some overlapping or useless variables.

In [12]:
del new['fatalities']
del new['injured']
del new['latitude']
del new['longitude']
del new['year']
del new['sources']
del new['location.1'] 
del new['total_victims']
del new['street']
del new['city']
del new['location']

In [13]:
new.head()

,adr,p,n_killed,n_injured,state,LON,LAT,case,summary,age_of_shooter,...,mental_health_details,weapons_obtained_legally,where_obtained,weapon_type,weapon_details,race,gender,mental_health_sources,sources_additional_age,type
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,Rockingham Street and Berkley Avenue Extended ...,2.855649,2,2,Virginia,-76.278935,36.830789,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,Farmers Boulevard and 133rd Avenue Queens New ...,2.390389,1,3,New York,-73.762898,40.677500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-05,829 Parade St Erie Pennsylvania,2.390389,1,3,Pennsylvania,-80.074524,42.130038,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-11,3430 W. Capitol Street Jackson Mississippi,1.515717,0,4,Mississippi,-90.228321,32.323689,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-12,University Drive Huntsville Alabama,1.620657,0,5,Alabama,-86.650390,34.736562,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
new.to_csv('5merge.csv')